@import '../../../shared/colors.scss';

.m-currency-input {
    border: 1px solid $lighter-grey;
    border-radius: 2px;
    padding: 12px 6px 6px 18px;
    text-align: right;
}
.m-currency-input--error {
    border-color: red;
}
.m-currency-input-error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}