.o-payment-terms-circle {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
.o-payment-terms-circle-icon {
    margin-right: 10px;
}
.o-payment-terms-header {
    font-family: 'Calibre Regular';
    font-size: 15pt;
}
.o-payment-terms-header-wrapper {
    min-width: 220px;
}
.o-payment-terms-select-dropdown {
    margin-right: 8px;
}