@import '../../../shared/colors.scss';

.m-date-picker {
    background: white;
    border: 1px solid $lighter-grey;
    border-radius: 2px;
    font-family: 'Calibre Regular';
    padding: 10px;
    font-size: 14px;
    width: 100%;
}